.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: nowrap;
    align-content: normal;
    gap: 16px;
    height: 830px;
}
.item-1 {
    flex-basis: 100px;
}

.item-2 {
    flex-basis: 100px;
}

.item-3 {
    flex-basis: 100px;
}
.img7{
    height: 140px;
}
.img8{
    height: 140px;
}
.img9{
    height: 140px;
}
